body{
    background-color: aqua;
    margin : 10px;
}

.box{
    width : 450px;
    height : 200px;
    background-color: blue;
    margin : 5px;
    padding: 10px;
    border: 2px solid red;
    color: wheat;
    text-align: justify;
  
}